@import "tailwindcss";

:root {
  color-scheme: light dark;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

/* utilidad para el toggle de tema */
.dark {
  color-scheme: dark;
}
